@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Jua&display=swap"); */

header {
  /* font-family: 'Playfair Display', serif; */
}

body {
  /* background-image: url("./Images/background-img.jpg"); */
  background-size: auto;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Righteous", "Jua", sans-serif;
  margin-top: 72px;
  padding: 0px;
  position: relative;
}

footer {
  margin-top: 100px;
  padding: 100px;
  background-color: rgba(55, 55, 55, 0.3);
  width: 100%;
  left: 0;
  position: absolute;
  background-image: url("./Images/background-img.jpg");
}

.img-fluid {
  border-radius: 30px;
  max-width: 800px;
}
.mb-2 {
  background-color: white;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.d-grid {
  max-width: 800px;
  margin: 0 auto;
}
.cardgroup {
  max-width: 800px;
  margin: 0 auto;
}
.tb {
  text-align: center;
}
.pagination {
  justify-content: center;
}

.pagination > li > a {
  float: none;
}

.d-grid {
  max-width: 500px;
}
.pa4 {
  min-width: 400px;
}
.ph3 {
  text-align: center;
  min-width: 400px;
}
.Btn-right {
  margin-top: 20px;
  text-align: end;
}

.col-8 {
  padding-right: 0;
  padding-left: 0;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
}
h2 {
  background-image: url("https://img.freepik.com/free-vector/tropical-leafy-background-vector_53876-144347.jpg?t=st=1647412104~exp=1647412704~hmac=78a31381d9751c3f950468c67e576e6e658788983c6007c1a9aa6e6662342582&w=740");
  border-radius: 10px 100px / 120px;
  border: 5px solid white;
  text-align: center;
  margin: 0 auto;
  color: black;
  height: 80px;
  justify-content: center;
  padding: 20px 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  max-width: 850px;
}

h3 {
  max-width: 600px;
  background-color: black;
  border-radius: 10px 100px / 120px;
  color: white;
  text-align: center;
  margin: 0 auto;
}
h4 {
  color: black;
  font-size: 40px;
  font-family: "Righteous", cursive;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
}

.title {
  padding: 80px;
  background-size: auto;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  left: 0;
  font-size: 30px;
  position: relative;
  /* background-image: url("./Images/background-img.jpg"); */
  z-index: 10;
}
.category {
  background: black;
  color: white;

  z-index: 15;
}

.d-block {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.mw9 {
  width: 300px;
}

@media (min-width: 768px) {
  .row-cols-md-3 > * {
    width: 50%;
  }
}

.category1 {
  text-transform: uppercase;
  color: #1a2e7c;
  letter-spacing: 0.2em;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #25262a;
  width: 200px;
}
.category2 {
  text-transform: uppercase;
  color: #1a2e7c;
  letter-spacing: 0.2em;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #25262a;
  width: 250px;
}
.category3 {
  text-transform: uppercase;
  color: #1a2e7c;
  letter-spacing: 0.2em;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #25262a;
  width: 250px;
}
.categorys {
  margin-top: 50px;
  display: none;
  background: #212529;
  opacity: 0.8;
}
